<div class="modal-header" xmlns:th="http://www.thymeleaf.org">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true"></button>
	<h4 class="modal-title" th:text="#{view_product}"></h4>
</div>
<div class="modal-body" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-md-12">
			<div class="form-horizontal">
				<div class="form-body">

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{product_category}"></span>
						</label>
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.categoryName}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{sales_year}"></span>
						</label>
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.salesYear} + #{year}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{name}"></span>
						</label>
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.name}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{price}"></span>
						</label>
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.price} + #{yuan} + '/' + ${vm.packUnit}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{spec}"></span>
						</label>
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.spec} + #{yuan} + ${vm.specUnit}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{support_delivery_mode}"></span>
						</label>
						<div class="col-md-9">
							<span id="supportDeliveryMode" class="form-control-static" th:text="${vm.supportDeliveryMode}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{status}"></span>
						</label>
						<div class="col-md-9">
							<span class="form-control-static" th:if="${vm.status} == '1'"
								th:text="#{yes}"></span> <span
								class="form-control-static" th:if="${vm.status} == '0'"
								th:text="#{no}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" th:text="#{remark}"></label>
			
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.remark}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label" th:text="#{creater}"></label>
			
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.creater}"></span>&nbsp;&nbsp;<span
								class="form-control-static" th:text="${vm.createTime}"></span>
						</div>
					</div>
			
					<div class="form-group">
						<label class="col-md-3 control-label" th:text="#{updater}"></label>
			
						<div class="col-md-9">
							<span class="form-control-static" th:text="${vm.updater}"></span>&nbsp;&nbsp;<span
								class="form-control-static" th:text="${vm.updateTime}"></span>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" xmlns:th="http://www.thymeleaf.org">
	<button type="button" class="btn default"
		data-dismiss="modal">
		<i class="fa fa-close"></i> <span th:text="#{close}"></span>
	</button>
</div>
