<div class="modal-header" xmlns:th="http://www.thymeleaf.org">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title" th:text="#{import_express}"></h4>
</div>
<div class="modal-body" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-md-12">
			<form id="import_express_form" action="#" class="form-horizontal" enctype="multipart/form-data">
				<div class="form-body">

					<div id="import_express_alert"></div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span th:text="#{express_company}"></span><span
								class="required">
								* </span>
						</label>
						<div class="col-md-6">
							<select id="import_company" name="import_company" class="form-control">
								<option value="" th:text="#{please_select}"></option>
								<option th:each="company:${companies}" th:value="${company.key}"
									th:text="${company.value}">
								</option>
							</select>
						</div>
						<div class="col-md-3">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span th:text="#{file}"></span><span class="required">
								* </span>
						</label>
						<div class="col-md-6">
							<input type="file" class="form-control input-sm" id="import_file" name="import_file" />
						</div>
						<div class="col-md-3">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer" xmlns:th="http://www.thymeleaf.org">
	<button type="button" id="btn_import_close" class="btn default" data-dismiss="modal">
		<i class="fa fa-close"></i> <span th:text="#{close}"></span>
	</button>
	<button type="button" id="btn_import_submit" class="btn blue">
		<i class="fa fa-check"></i> <span th:text="#{submit}"></span>
	</button>
</div>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	$(function () {

		$('#import_express_form').validate({
			errorElement: 'span',
			errorClass: 'help-block help-block-error',
			focusInvalid: false,
			ignore: '',
			rules: {
				import_company: {
					required: true
				},
				import_file: {
					required: true
				}
			},
			messages: {},
			invalidHandler: function (e, t) {
			},
			errorPlacement: function (e, r) {
				r.parent().next().html(e)
			},
			highlight: function (e) {
				$(e).closest(".form-group").addClass("has-error")
			},
			unhighlight: function (e) {
				$(e).closest(".form-group").removeClass("has-error")
			},
			success: function (e) {
				e.closest(".form-group").removeClass("has-error")
			},
			submitHandler: function (e) {

				var data = new FormData();
				data.append('file', $('#import_file')[0].files[0]);
				data.append('companyCode', $.trim($('#import_company').val()));//也可以传递其他字段

				$.ajax({
					url: '/order/import/express',
					type: 'POST',
					data: data,
					contentType: false,
					processData: false,
					cache: false,
					datatype: 'json',
					success: function (json) {
						if (json.result) {
							$('#table_list').bootstrapTable('refresh');
							$('#btn_import_close').click();
						} else {
							App.alert({
								container: '#import_express_alert',
								place: 'append',
								type: 'danger',
								message: json.message,
								close: true,
								reset: true,
								focus: true,
								closeInSeconds: 5
							});
						}
					}
				});
			}
		})

		$('#btn_import_submit').click(function () {
			$('#import_express_form').submit();
		})
	});

	/*]]>*/
</script>