<div class="modal-header" xmlns:th="http://www.thymeleaf.org">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true"></button>
	<h4 class="modal-title" th:text="#{edit_customer_category}"></h4>
</div>
<div class="modal-body" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-md-12">
			<form id="edit_category_form" action="#" class="form-horizontal">
				<div class="form-body">

					<div id="edit_category_alert"></div>

					<input type="hidden" id="edit_id" name="edit_id" th:value="${vm.id}" />

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{name}"></span><span class="required">
								* </span>
						</label>
						<div class="col-md-6">
							<input type="text" id="edit_name" name="edit_name"
								class="form-control input-sm" th:value="${vm.name}" />
						</div>
						<div class="col-md-3"></div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{remark}"></span>
						</label>
						<div class="col-md-6">
							<textarea class="form-control input-sm" id="edit_remark"
								name="edit_remark" th:text="${vm.remark}"></textarea>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer" xmlns:th="http://www.thymeleaf.org">
	<button type="button" id="btn_edit_close" class="btn default"
		data-dismiss="modal">
		<i class="fa fa-close"></i> <span th:text="#{close}"></span>
	</button>
	<button type="button" id="btn_edit_submit" class="btn blue">
		<i class="fa fa-check"></i> <span th:text="#{submit}"></span>
	</button>
</div>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		$('#edit_category_form').validate({
			errorElement : 'span',
			errorClass : 'help-block help-block-error',
			focusInvalid : false,
			ignore : '',
			rules : {
				edit_name : {
					required : true,
					maxlength : 40
				},
				edit_remark : {
					maxlength : 512
				}
			},
			messages : {},
			invalidHandler : function(e, t) {
			},
			errorPlacement : function(e, r) {
				r.parent().next().html(e)
			},
			highlight : function(e) {
				$(e).closest(".form-group").addClass("has-error")
			},
			unhighlight : function(e) {
				$(e).closest(".form-group").removeClass("has-error")
			},
			success : function(e) {
				e.closest(".form-group").removeClass("has-error")
			},
			submitHandler : function(e) {
				var request = {};
				request.id = $.trim($('#edit_id').val());
				request.name = $.trim($('#edit_name').val());
				request.remark = $.trim($('#edit_remark').val());

				$.ajax({
					url : '/api/customer-categories',
					type : 'PUT',
					data : JSON.stringify(request),
					contentType : 'application/json',
					cache : false,
					datatype : 'json',
					success : function(json) {
						if (json.success) {
							$('#table_list').bootstrapTable('refresh');
							$('#btn_edit_close').click();
						} else {
							App.alert({
								container : '#edit_category_alert',
								place : 'append',
								type : 'danger',
								message : json.message,
								close : true,
								reset : true,
								focus : true,
								closeInSeconds : 5
							});
						}
					}
				});
			}
		})

		$('#btn_edit_submit').click(function() {
			$('#edit_category_form').submit();
		})
	});

	/*]]>*/
</script>